.flexContainer {
    display: flex;
    flex-flow: column;
    // height: calc(100vh - 82px);
    height: 100%;

    ::-webkit-scrollbar {
        display: none;
    }

    .scrollYnew {
        overflow: auto;
        flex-grow: 1 !important;
    }
}

.item{
    --background: rgba(var(--ion-color-danger-rgb), 0.25);
    color: var(--ion-color-meds-red);
}